
.rfq-grid {
  height:600px;
  width: 1250px;
}


.editable-cell-content input {
  border: none;
  background-color: transparent;
  background: none !important;
  outline: none;
  text-align:right;
  width:100%;
}
