@corner: 10px;
@containerWidth: 320px;
@selectedRfqColour: #222425;

.rfq-summary-list-container {

  border: 1px solid black;


}

.rfq-summary-list {

  border: 1px solid black;
  width: @containerWidth;

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:first-child div.rfq-summary--rounded {
      border-radius: @corner @corner 0 0;
    }
    &:last-child div.rfq-summary--rounded {
      border-radius: 0 0 @corner @corner;
    }
    &:only-child div.rfq-summary--rounded {
      border-radius: @corner;
    }
  }


}


.rfq-summary {
  border:1px #22242b solid;
  padding:8px;
  margin-bottom: 2px;
  background-color: #333739;
  color: #b9c3c6;
  font-size: .8em;

  &:hover {
    background-color: @selectedRfqColour;
    cursor: pointer;
  }

  &__name {
    font-weight: bold;
    color: #d0dcdf;
    margin-bottom: 7px;
  }

  &__top, &__bottom {
    display:flex;
    justify-content: space-between;
  }
}

.rfq-summary--selected {
  .rfq-summary;
  background-color: @selectedRfqColour;
}

.currency-list {
  display:flex;
  flex-wrap: nowrap;

  .currency {
    font-size: 0.7em;
    align-self: flex-end;
    margin-left: 3px;
    padding:3px 4px 2px 4px;
    background: #242529;
    border-radius: 8px;
    color: #d8e4e7;
    white-space: nowrap;
  }
}


