@corner: 10px;
@containerWidth: 400px;

.rfqSummaryContainer {
  margin-top:30px;
  width: @containerWidth;

  & li {
    list-style-type: none;

    &:first-child div.rfqSummary {
      border-radius: @corner @corner 0 0;
    }
    &:last-child div.rfqSummary {
      border-radius: 0 0 @corner @corner;
    }
    &:only-child div.rfqSummary {
      border-radius: @corner;
    }
  }
}

.rfqSummary {
  border:1px #22242b solid;
  padding:8px;
  margin-bottom: 2px;
  background-color: #2e3037;
  color: #b9c3c6;
  font-size: .8em;

  &:hover {
    background-color: #1b1c20;
    cursor: pointer;

    /*.currency {
      background: #2e3037;
    }*/
  }
}

.clientName {
  font-weight: bold;
  color: #d0dcdf;
  margin-bottom: 7px;
}

.summaryTopBox, .summaryBottomBox {
  display:flex;
  justify-content: space-between;
}

.currencyList {
  display:flex;

  .currency {
    font-size: 0.7em;
    align-self: flex-end;
    margin-left: 3px;
    padding:3px 4px 2px 4px;
    background: #242529;
    border-radius: 8px;
    color: #d8e4e7;
  }
}


